MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=xxxx xxxx xxxx xxxx
MAIL_FROM_NAME=WMS

APP_FRONTEND_URL=http://localhost:3000

YANDEX_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_CLIENT_SECRET=

APP_DB_ENCRYPTION_KEY=
